<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.preference_demo"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="14" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PEReditor_Activity"
            android:label="@string/title_activity_pereditor_" >
        </activity>
        <activity
            android:name=".Basepre"
            android:label="@string/title_activity_basepre" >
        </activity>
        <activity
            android:name=".WcsettingActivity"
            android:label="@string/title_activity_wcsetting" >
        </activity>
        <activity
            android:name=".HanderActivity"
            android:label="@string/title_activity_hander" >
        </activity>
    </application>

</manifest>
